if tweets 
  each tweet in tweets
    div(class="card tweet-element")
      div(class="card-body d-flex flex-column")
       div(class="d-flex flex-row align-items-center")
        if tweet.author._id.toString() === currentUser._id.toString()
          a(class="link-user-letter" href="/")
            img(width="40" height="40" class="rounded-circle" src=tweet.author.avatar)
        else
          a(class="link-user-letter" href="/users/" + tweet.author.username) 
            img(width="40" height="40" class="rounded-circle" src=tweet.author.avatar)
        if tweet.author._id.toString() === currentUser._id.toString()
          a(class="link-user-letter" href="/")
            span(class="flex-fill ms-1 fw-bold")= tweet.author.username
        else
          a(class="link-user-letter" href="/users/" + tweet.author.username) 
            span(class="flex-fill ms-1 fw-bold")= tweet.author.username
        if editable
          div(class="d-flex ms-auto")
            i(class="fa-solid fa-trash-can text-danger pointer-cursor delete-letter-btn" tweetid=tweet._id)
      div(class="ms-3 mb-3 div-tweet-content")= tweet.content
      if tweet.image && tweet.statut
        div(id="div-admin-letter-image" class="ms-3 mb-3")
          img(class="letter-image-admin" src=tweet.image)
      if tweet.statut === null 
        div
          p(class="status-null")= "Image en attente de validation... "
            img(class="time-capsule" src="/images/time-capsule.svg", alt="" width="30", height="30")
      if tweet.statut === false
              div
                p(class="status-null text-danger")= "Image refusée..."
      span(class="flex-fill ms-1 tweet-time" letteruptime= tweet.updatedAt, lettercreatetime= tweet.createdAt)
