if currentUser._id.toString() == user._id.toString()
  script(src="/javascripts/profile.js")
  script(src="/javascripts/users/delete-user.js")
else
div(class="profile-container d-flex flex-column")
  if currentUser.local.admin
    a(href=`admin/${currentUser._id}/panel` id="a-image-admin-logo") 
      img(src="/images/admin-logo.svg", alt="logo-admin" id="image-admin-logo")
  else 
  if currentUser._id.toString() == user._id.toString()
    div(class="ms-auto" id="div-delete-profile-btn")
      i(class="fa-solid fa-trash-can text-danger" id="delete-profile-btn" profileid=currentUser._id)
  else
  form(id="form-container" action="/users/update/image" method="post" enctype='multipart/form-data') 
    input(type="file" name="avatar" class="d-none" id="input-avatar")
    img(src=user.avatar class="img-fluid profile-user-img" id="image-profile")
  div(class="d-flex flex-row justify-content-center align-items-center")
    a(id="profile-container-username" href=(currentUser._id.toString() == user._id.toString() ? "/" : href="/users/" + user.username ))= `${user.username}`
  if currentUser._id.toString() !== user._id.toString()
    div(class="d-flex flex-row justify-content-center align-items-center")
      if currentUser.following.map( objId => objId.toString() ).includes(user._id.toString())
        a(class="btn btn-primary btn-unfollow " href="/users/unfollow/" + user._id) unfollow 
      else 
        a(class="btn btn-outline-primary btn-follow" href="/users/follow/" + user._id) follow
  div(class="my-3 div-profile-LFE")
    div(class="flex-fill")
      p 
        strong Letter 
        br
        span(class="text-primary")= tweets && tweets.filter( t => t.author.id.toString() === user._id.toString()).length
    div(class="flex-fill")
      p
        strong Following 
        br
        span(class="text-primary")= user.following.length
    div(class="flex-fill")
      p
        strong Email 
        br
        if user.local.emailVerified
          span(class="text-primary") Verified
        else
          span(class="text-danger") Not verified
        

